//overrides for style variables go here.

// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$font-main: "Libre Baskerville", serif;
$font-text: "Libre Baskerville", serif;

// $font-size-base: 5rem;
// $line-height-base: 1;

$color-bg: #efecea;
$color-fg: #252525;
$color-links: #1f5ab9;
$color-links-hover: #62a0e6;